<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}THIS BURGER IS GONE!{{else}}TIME TO EAT!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DEVOUR!</button>
</li>